@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
:root {
  --color-gray: #b8b8b8;
  --font-main: "Montserrat", sans-serif;
  --color-dark-gray: #4e4e4e;
  --color-darker-gray: #2c2c2c;
}

.custom-navbar {
  height: 100vh;
  /* TODO: Calculate height depend on  the bottom of page */
  background-color: black;
  width: 240px;
  color: var(--color-gray);
  font-family: var(--font-main);
  font-size: 0.8rem;
  font-weight: 600;
  padding-block: 20px;
  padding-inline: 8px;
}

.navbar-logo {
  width: 135px;
  height: auto;
  object-fit: cover;
}

.icon-div {
  margin-right: 15px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 8px;
}

.primary-options {
  margin-block: 25px;
}

.primary-options i {
  font-size: 25px;
}

.custom-navbar a {
  text-decoration: none;
  color: var(--color-gray);
}

.create-playlist-icon {
  background-color: var(--color-gray);
  color: black;
  border-radius: 2px;
}

.liked-songs-icon {
  background: rgb(60, 29, 160);
  background: linear-gradient(
    159deg,
    rgba(60, 29, 160, 1) 0%,
    rgba(130, 156, 155, 1) 91%
  );
  border-radius: 2px;
}

.divider {
  background-color: var(--color-darker-gray);
  border-width: 0.5px;
}
